body {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;
    gap: 16px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 250px);
    gap: 16px;
}

.book-card {
    border: blue solid;
    height: 250px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow-wrap: break-word;
}

dialog {
    width: 400px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;;
}

input:focus {
    border-radius: #000;
}


form li {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr;
    text-align: right;
    gap: 8px;
}

form li:last-of-type {
    grid-template-columns: 1fr 1fr;
}

form button {
    border-radius: 8px;
    padding: 1rem;
    border: none;
}

